:root {
	// Font family ***
	--font-title: "Urbanist", sans-serif;
	--font-body: "Mulish", sans-serif;

	// Colors ***
	--theme-color1: #215846;
	--theme-color2: #101b17;
	--text-color1: #000000;
	--text-color2: #ffffff;

	--main-bg: #ffffff;
	--sub-bg: #f1f7f4;

	--heading-color: #151314;
	--paragraph: #151314b2;
	--paragraph-light: #ffffffb2;
	--span: #151314b2;

	--border: #15131433;
	--border-light: #06120e1a;
	--white: #ffffff;
	--black: #000000;

	// Transitions ***
	--transition: all 0.4s ease-in-out;

	// Box shadow ***
	--shadow: 0px 4px 25px 0px #0000000f;
}
